src/main/resources/schema/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/common"
        elementFormDefault="qualified">

    <!-- Убедитесь, что имя точно AddressType -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="name"    type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="city"    type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>