src/main/resources/schema/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:ship="http://example.com/shiporder"
        xmlns:com="http://example.com/common"
        targetNamespace="http://example.com/shiporder"
        elementFormDefault="qualified">

    <!-- Импортируем общий XSD -->
    <xs:import
            namespace="http://example.com/common"
            schemaLocation="common.xsd"/>

    <!-- Главный элемент shiporder в нашем пространстве имён -->
    <xs:element name="shiporder" type="ship:ShipOrderType"/>

    <!-- Определение типа ShipOrderType -->
    <xs:complexType name="ShipOrderType">
        <xs:sequence>
            <xs:element name="orderperson" type="xs:string"/>
            <xs:element name="shipto" type="com:AddressType"/>
            <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="title"    type="xs:string"/>
                        <xs:element name="note"     type="xs:string" minOccurs="0"/>
                        <xs:element name="quantity" type="xs:positiveInteger"/>
                        <xs:element name="price"    type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="orderid" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>