src/main/resources/schema/xsd/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://example.com/shiporder"
        xmlns:com="http://example.com/common"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/shiporder">

    <!-- 1. Типы -->
    <wsdl:types>
        <!-- 1.1 Общая схема common -->
        <xsd:schema
                targetNamespace="http://example.com/common"
                elementFormDefault="qualified">
            <xsd:complexType name="AddressType">
                <xsd:sequence>
                    <xsd:element name="name"    type="xsd:string"/>
                    <xsd:element name="address" type="xsd:string"/>
                    <xsd:element name="city"    type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>

        <!-- 1.2 Схема shiporder, импортирующая common -->
        <xsd:schema
                targetNamespace="http://example.com/shiporder"
                elementFormDefault="qualified">
            <xsd:import
                    namespace="http://example.com/common"
                    schemaLocation="common.xsd"/>

            <xsd:element name="ShipOrder">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId"    type="xsd:string"/>
                        <xsd:element name="orderPerson" type="xsd:string"/>
                        <xsd:element name="shipTo"      type="com:AddressType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <!-- 2. Сообщения -->
    <wsdl:message name="PlaceOrderRequest">
        <wsdl:part name="parameters" element="tns:ShipOrder"/>
    </wsdl:message>
    <wsdl:message name="PlaceOrderResponse">
        <wsdl:part name="confirmation" type="xsd:string"/>
    </wsdl:message>

    <!-- 3. ПортТип -->
    <wsdl:portType name="OrderServicePortType">
        <wsdl:operation name="PlaceOrder">
            <wsdl:input  message="tns:PlaceOrderRequest"/>
            <wsdl:output message="tns:PlaceOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- 4. Binding -->
    <wsdl:binding name="OrderServiceSoap11Binding" type="tns:OrderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PlaceOrder">
            <soap:operation soapAction="http://example.com/shiporder/PlaceOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- 5. Service -->
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServicePort" binding="tns:OrderServiceSoap11Binding">
            <soap:address location="http://example.com/shiporder"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>